QMainWindow {
	background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.506, y2:1, stop:0 rgba(136, 150, 165, 255), stop:1 rgba(136, 149, 188, 255));
    /* background-color: #8ca3ba; */
}
  
QWidget {
    color: rgb(255, 255, 255);
}

QScrollArea {
    background: transparent;
    border: 0px;
}

QScrollArea > QWidget > QWidget {
    background: transparent;
}

QGroupBox {
	border: none;
}

QFrame {
    border 0px;
}
