QLineEdit {
    border: none;
    height: 35px;
    border-radius: 3px;
    border: 2px solid rgb(62, 69, 80);
    background-color: rgb(255, 255, 255);
    color: black;
    padding-left: 5px;
}

QLineEdit:hover {
    border: 2px solid rgb(44, 51, 61);
}

QLineEdit:focus {
    border: 2px solid rgb(23, 28, 34);
}
